




















#stickyFooter {
    background-color: gray;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 125%;
    margin-left: -12.5%;
    left: 0;
    display: block;
    position: fixed;
    bottom: -15px;
}